<a href="https://colab.research.google.com/github/AnantChandra/google-colab/blob/main/relbench_f1_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install relbench

Collecting relbench
  Downloading relbench-1.1.0-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from relbench) (2.2.2)
Requirement already satisfied: pooch in /usr/local/lib/python3.10/dist-packages (from relbench) (1.8.2)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (from relbench) (17.0.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from relbench) (1.26.4)
Requirement already satisfied: duckdb in /usr/local/lib/python3.10/dist-packages (from relbench) (1.1.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from relbench) (1.5.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from relbench) (4.12.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->relbench) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->relbench) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->relbench) (2024.2)
Requirement already satisfied: platformdirs>=2.5.0 in /usr/local/lib/python3.10/dist-packages (from pooch->relbench) (4.3.6)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from pooch->relbench) (24.2)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pooch->relbench) (2.32.3)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->relbench) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->relbench) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->relbench) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->relbench) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch->relbench) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch->relbench) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch->relbench) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pooch->relbench) (2024.8.30)
Downloading relbench-1.1.0-py3-none-any.whl (58 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.1/58.1 kB 1.6 MB/s eta 0:00:00
Installing collected packages: relbench
Successfully installed relbench-1.1.0

In [2]:
import relbench

relbench.__version__

'1.1.0'

In [3]:
from relbench.datasets import get_dataset_names

get_dataset_names()

['rel-amazon',
 'rel-avito',
 'rel-event',
 'rel-f1',
 'rel-hm',
 'rel-stack',
 'rel-trial']

In [4]:
from relbench.datasets import get_dataset

dataset = get_dataset(name="rel-f1", download=True)

Downloading file 'rel-f1/db.zip' from 'https://relbench.stanford.edu/download/rel-f1/db.zip' to '/root/.cache/relbench'.
100%|████████████████████████████████████████| 704k/704k [00:00<00:00, 256MB/s]
Unzipping contents of '/root/.cache/relbench/rel-f1/db.zip' to '/root/.cache/relbench/rel-f1/.'

In [5]:
dataset.val_timestamp, dataset.test_timestamp

(Timestamp('2005-01-01 00:00:00'), Timestamp('2010-01-01 00:00:00'))

In [6]:
db = dataset.get_db()

Loading Database object from /root/.cache/relbench/rel-f1/db...
Done in 0.20 seconds.

In [8]:
db

Database()

In [9]:
db.min_timestamp, db.max_timestamp

(Timestamp('1950-05-13 00:00:00'), Timestamp('2009-11-01 11:00:00'))

In [10]:
db.table_dict.keys()

dict_keys(['constructor_results', 'circuits', 'qualifying', 'constructors', 'results', 'races', 'standings', 'constructor_standings', 'drivers'])

In [11]:
table = db.table_dict["drivers"]
table

Table(df=
     driverId        driverRef code  forename     surname        dob  \
0           0         hamilton  HAM     Lewis    Hamilton 1985-01-07
1           1         heidfeld  HEI      Nick    Heidfeld 1977-05-10
2           2          rosberg  ROS      Nico     Rosberg 1985-06-27
3           3           alonso  ALO  Fernando      Alonso 1981-07-29
4           4       kovalainen  KOV    Heikki  Kovalainen 1981-10-19
..        ...              ...  ...       ...         ...        ...
852       852  mick_schumacher  MSC      Mick  Schumacher 1999-03-22
853       853             zhou  ZHO    Guanyu        Zhou 1999-05-30
854       854         de_vries  DEV      Nyck    de Vries 1995-02-06
855       855          piastri  PIA     Oscar     Piastri 2001-04-06
856       856         sargeant  SAR     Logan    Sargeant 2000-12-31

    nationality
0       British
1        German
2        German
3       Spanish
4       Finnish
..          ...
852      German
853     Chinese
854       Dutch
855  Australian
856    American

[857 rows x 7 columns],
  fkey_col_to_pkey_table={},
  pkey_col=driverId,
  time_col=None)

In [12]:
table.df.iloc[table.df["dob"].idxmax()]

driverId                       855
driverRef                  piastri
code                           PIA
forename                     Oscar
surname                    Piastri
dob            2001-04-06 00:00:00
nationality             Australian
Name: 855, dtype: object

In [13]:
table.df.iloc[table.df["dob"].idxmin()]

driverId                       741
driverRef                etancelin
code                            \N
forename                  Philippe
surname                  Étancelin
dob            1896-12-28 00:00:00
nationality                 French
Name: 741, dtype: object

In [14]:
table = db.table_dict["results"]
table.df

,resultId,raceId,driverId,constructorId,number,grid,position,positionOrder,points,laps,milliseconds,fastestLap,rank,statusId,date
0,0,0,660,152,18.0,21,11.0,11,0.0,64,NaN,NaN,NaN,16,1950-05-13 00:00:00
1,1,0,790,149,8.0,12,NaN,21,0.0,2,NaN,NaN,NaN,126,1950-05-13 00:00:00
2,2,0,579,49,1.0,3,NaN,12,0.0,62,NaN,NaN,NaN,44,1950-05-13 00:00:00
3,3,0,661,149,9.0,10,NaN,20,0.0,5,NaN,NaN,NaN,6,1950-05-13 00:00:00
4,4,0,789,152,17.0,7,NaN,19,0.0,8,NaN,NaN,NaN,51,1950-05-13 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20318,20318,819,1,1,6.0,8,5.0,5,4.0,55,5669667.0,54.0,7.0,1,2009-11-01 11:00:00
20319,20319,819,21,22,23.0,4,4.0,4,5.0,55,5666149.0,54.0,4.0,1,2009-11-01 11:00:00
20320,20320,819,17,22,22.0,5,3.0,3,6.0,55,5661881.0,49.0,6.0,1,2009-11-01 11:00:00
20321,20321,819,16,8,14.0,3,2.0,2,8.0,55,5661271.0,14.0,5.0,1,2009-11-01 11:00:00
20322,20322,819,2,2,16.0,9,9.0,9,0.0,55,5689355.0,49.0,15.0,1,2009-11-01 11:00:00

In [15]:
from relbench.tasks import get_task_names, get_task

get_task_names("rel-f1")

['driver-position', 'driver-dnf', 'driver-top3']

In [16]:
task = get_task("rel-f1", "driver-top3", download=True)

Downloading file 'rel-f1/tasks/driver-top3.zip' from 'https://relbench.stanford.edu/download/rel-f1/tasks/driver-top3.zip' to '/root/.cache/relbench'.
100%|█████████████████████████████████████| 10.3k/10.3k [00:00<00:00, 3.75MB/s]
Unzipping contents of '/root/.cache/relbench/rel-f1/tasks/driver-top3.zip' to '/root/.cache/relbench/rel-f1/tasks/.'

In [17]:
task.get_table("train")

Table(df=
           date  driverId  qualifying
0    2004-08-04        12           0
1    2004-08-04        20           0
2    2004-07-05        10           0
3    2004-07-05        47           0
4    2004-06-05        31           0
...         ...       ...         ...
1348 1994-03-30        80           0
1349 1994-03-30        48           0
1350 1994-03-30        77           0
1351 1994-02-28        43           0
1352 1994-02-28        56           0

[1353 rows x 3 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)

In [18]:
task.get_table("test")

Table(df=
          date  driverId
0   2013-03-16       814
1   2012-11-16         9
2   2012-11-16        17
3   2012-10-17         0
4   2012-09-17       816
..         ...       ...
721 2010-07-30        14
722 2010-06-30       154
723 2010-06-30        14
724 2010-05-01        14
725 2010-05-01       154

[726 rows x 2 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)

In [19]:
task.get_table("test", mask_input_cols=False)

Table(df=
          date  driverId  qualifying
0   2013-03-16       814           0
1   2012-11-16         9           0
2   2012-11-16        17           1
3   2012-10-17         0           1
4   2012-09-17       816           0
..         ...       ...         ...
721 2010-07-30        14           0
722 2010-06-30       154           0
723 2010-06-30        14           0
724 2010-05-01        14           0
725 2010-05-01       154           0

[726 rows x 3 columns],
  fkey_col_to_pkey_table={'driverId': 'drivers'},
  pkey_col=None,
  time_col=date)